<%- include("./partials/header") %>
    
    <div class="contact" id="contact">
        <div class="contactfrm">
            <div>
                <h1>
                    <bold>Contact Us</bold>
                </h1>
                <p>
                    Tell us, How we can help you?
                </p>
                <p>Our experts are to help you feel free to contact us </p>
                <p>devaliyaaman3@gmail.com</p>
                <p>+91 1552 4908</p>
            </div>
        </div>

        <div class="contactimg">
            <img src="https://www.nidhilakshmi.com/wp-content/uploads/2016/02/woman-contact.jpg" alt="."></img>
        </div>
    </div>
    <%- include("./partials/footer") %>