<%- include("./partials/header") %>
    <div class="home">
        <h1>
            <%= post.title %>
        </h1>
        <p>
            <%= post.post %>
        </p>

    </div>
<%- include("./partials/footer") %>